
@{
    ViewBag.Title = "Show";
}

<!DOCTYPE html>
<html>
<head>
    <title>Student Comparison</title>
</head>
<body>
    <h1>Student Comparison</h1>
    <p>
       This chart compares the number of correct answers by each student.
    </p>
    <p><img src="@Url.Content("Charts")" /> </p>

   
</body>
</html>

