
@{
    ViewBag.Title = "Show2";

}
    <!DOCTYPE html>
    <html>
    <head>
        <title>Question Comparison</title>
    </head>
    <body>
        <h1>Question Comparison</h1>
        <p>
            This chart displays the most popular and least popular questions.
        </p>
        <p><img src="@Url.Content("Chart2")" /> </p>


    </body>
</html>

