<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://finalquizprogramjt7.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>finalquizprogramjt7.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FinalQuizProgramJT7</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FinalQuizProgramJT7</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="QuizDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:cidmjt3312.database.windows.net,1433;Initial Catalog=FinalQuizProgramJT729;User ID=jthompson@cidmjt3312;Password=Basball_777" Name="Data Source=tcp:cidmjt3312.database.windows.net,1433;Initial Catalog=FinalQuizProgramJT729;User Id=jthompson@cidmjt3312;Password=Basball_777" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="QuizLibrary.DAL.QuizDbContext, QuizLibrary" MigrationConfiguration="QuizLibrary.Migrations.Configuration, QuizLibrary" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QuizDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:cidmjt3312.database.windows.net,1433;Initial Catalog=FinalQuizProgramJT729;User Id=jthompson@cidmjt3312;Password=Basball_777</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>