
@{
    ViewBag.Title = "Index";
}

<div class="row banner">

    <div class="col-md-12">

        <h1 class="text-center editContent"><strong>Welcome to the Quiz Program</strong>
        <br />
        An interactive tool for class participation.
        </h1>
        

        <div class="text-center margin-bottom-100">

            <a href="~/Quiz/Index" class="btn btn-primary btn-hg btn-embossed">Start Quizzing</a>
        </div>

    </div>

</div><!-- /.row -->
<div class="container" id="divider1">

    <div class="col-md-12">

        <hr class="dashed">

    </div><!-- /.col -->

</div><!-- /.container --><!-- /#page -->


